<meta charset="utf-8">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="header">
  <div class="container-fluid">
  	
   	<a class="navbar-brand" href="http://web.dio.me"><img th:src="@{/img/logo.svg}" width="40%"/></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      		<span class="navbar-toggler-icon"></span>
    	</button> 
   	<div class="collapse navbar-collapse" id="navbarNavDropdown">
     		<ul class="navbar-nav me-auto">
       			<li class="nav-item dropdown">
	        		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCadastro" role="button" data-bs-toggle="dropdown" aria-expanded="false">
	           			Cadastro
	          		</a>
	       			<ul class="dropdown-menu" aria-labelledby="navbarDropdownCadastro">
	       				

						<li><a class="dropdown-item"  href="/aluno/listar">Alunos</a></li>
						<li><a class="dropdown-item"  href="/matricula/listar">Matrículas</a></li>
						<li><a class="dropdown-item"  href="/avaliacaoFisica/listar">Avaliações Físicas</a></li>
				        	
	       			</ul>
       			</li>
       			
     		</ul>
     		
     		<form class="d-flex" action="/logout">
		    	<div class="row">
		    		<div class="col-md">
		      			<button class="btn btn-outline-danger" type="submit">Logout</button>
		      		</div>	
		      	</div>
		    </form>
   	</div>
  </div>
</nav>