<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	
	<meta charset="utf-8">
	<title>Cadastro de Aluno</title>
	<object th:include="fragments/cabecalho :: header" th:remove="tag"></object>
	
</head>
<body>
	<div th:insert="fragments/menu :: header"></div>
	<br/>
	
	<div class="container">
		<h2><span><i class="fas fa-user-tie"></i>&nbsp;CADASTRO DE ALUNO</span></h2>
		<form method="POST" th:action="@{/aluno/adicionar}" th:object="${aluno}" enctype="multipart/form-data">
			<div class="row g-3">
				
				<div class="col-12">
					<div class="form-group ged_require" >
						<label for="nome" class="form-label">Nome</label>
						<input type="text" class="form-control" th:classappend="${#fields.hasErrors('nome')} ? is-invalid" id="nome" th:field="*{nome}">
  					</div>
				</div>
				<div class="col-2">
					<div class="form-group ged_require" >
						<label for="cpf" class="form-label">Cpf</label>
						<input type="text" class="form-control" th:classappend="${#fields.hasErrors('cpf')} ? is-invalid" id="cpf" th:field="*{cpf}">
  					</div>
				</div>
				<div class="col-2">
					<div class="form-group ged_require" >
						<label for="dataNascimento" class="form-label">Data de Nascimento</label>
						<input type="date" class="form-control" th:classappend="${#fields.hasErrors('dataDeNascimento')} ? is-invalid" id="dataDeNascimento" th:field="*{dataDeNascimento}">
  					</div>
				</div>
				<div class="col-2">
					<div class="form-group ged_require" >
						<label for="bairro" class="form-label">Bairro</label>
						<input type="text" class="form-control" th:classappend="${#fields.hasErrors('bairro')} ? is-invalid" id="bairro" th:field="*{bairro}">
  					</div>
				</div>
				<div class="col-2">
					<div class="form-check form-switch">
					  <input class="form-check-input" type="checkbox" th:classappend="${#fields.hasErrors('habilitado')} ? is-invalid" id="habilitado" th:field="*{habilitado}">
					  <label class="form-check-label" for="flexSwitchCheckChecked">Habilitado</label>
					</div>
				</div>
				
				
				
				<div class="col-12">
					
					<button type="submit" class="btn btn-primary">Salvar</button>
					
				</div>
				<div class="col-12">
					
					<div class="alert alert-success" role="alert" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}"></div>
					<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
						<div th:each="detailedError : ${#fields.detailedErrors()}">
							<span th:text="${detailedError.message}"></span>
						</div>
					</div>
				</div>
			</div>
			<fieldset>
				<legend><span class="legend"><i class="fas fa-save"></i>&nbsp;Alunos Cadastrados</span></legend>
					<div class="row">
						<div class="col-12">
							<table id="alunoTable" class="table table-striped" style="width:100%">
			      
						       <!-- Header Table -->
						       <thead>
						            <tr>
					                 	<th>Id</th>
						                <th>Cpf</th>
										<th>Nome</th>
										<th>Data de Nascimento</th>
										<th>Bairro</th>
										<th>Ações</th>
						            </tr>
						        </thead>
						        <tbody>
			        				<tr th:each="alunos :${todosAlunos}">
			        					<td th:text="${alunos.id}"></td>
			        					<td th:text="${alunos.cpf}"></td>
			        					<td th:text="${alunos.nome}"></td>
			        					<td th:text="${#temporals.format(alunos.dataDeNascimento, 'dd/MM/yyyy')}"></td>
			        					<td th:text="${alunos.bairro}"></td>
			        					<td><a th:href="@{'/aluno/editar/' + ${alunos.id}}"><img th:src="@{/img/edit.svg}" width="5%"/></a><img th:if="${alunos.habilitado}" title="Habilitado" th:src="@{/img/on.svg}" /><img th:unless="${alunos.habilitado}" title="Desabilitado" th:src="@{/img/off.svg}" /></td>
						        	</tr>
						        </tbody>
						        <tfoot>
						            <tr>
					                 	<th>Id</th>
						                <th>Cpf</th>
										<th>Nome</th>
										<th>Data de Nascimento</th>
										<th>Bairro</th>
										<th>Ações</th>
						            </tr>
						        </tfoot>
						    </table>
						</div>	    
					</div>
				</fieldset>
	</form>
	</div>
	
		
</body>
<object th:include="fragments/scripts" th:remove="tag"></object>
<script type="text/javascript">
$(document).ready(function() {
    $('#alunoTable').DataTable();
} );

</script>
</html>